.container {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    width: 1440px;
}

/* logo Booki and nav menu*/

.site-header--top-bar {
    display: flex;
    justify-content: space-between;
}

.site-header--logo {
    padding: 30px 50px;
}

.logo {
    width: 33%;
    object-fit: cover;
}

.site-header--menu {
    display: flex;
    gap: 68px;
}

.site-header--menu {
    list-style: none;
}

.site-header--nav-link-one, .site-header--nav-link-two {
    padding-top: 22px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
    border-top: 2px solid transparent;
}

.site-header--nav-link-one:hover, .site-header--nav-link-two:hover {
    border-top: 2px solid #0065FC; 
    color: #0065FC;
}

/* headline and search bar */

.site-header--headline {
    margin: 0 50px;
}

.site-header--headline h1 {
    font-size: 1.2rem;
    font-weight:700;
}

.site-header--headline span {
    font-size: 1rem;
    font-weight: 400;
}

.site-header--search-bar {
    display: flex;
    align-items: center;
    margin: 50px;
    width: 25%;
    height: 49px;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.site-header--fa-location {
    width: 50px;
    height: 100%;
    text-align: center;
    border-radius: 15px 0 0 15px;
    background-color: #F2F2F2;
}

i.fa-solid {
    margin-top: 15px;;
}

.site-header--search-bar form {
    height: 100%;
}

.site-header--search-bar #search {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

.site-header--finder {
    height: 100%;
    text-align: center;
    background-color: #0065FC;
    border-radius:  0 15px 15px 0;  
}

.site-header--button {
    margin-top: 15px;
    background-color: #0065FC; 
    border: none;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

.fa-magnifying-glass {
    visibility: hidden;
}

/* filter bar */

.site-header--filter-bar {
    width: 56%;
    margin: 35px 50px;
    display: flex;
    gap: 15px;
}

.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.site-header--filter-tag {
    width: 100%;
    display: flex;
    gap: 15px;

}

.site-header--filter-tag .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23%;
    gap: 15px;
    padding: 10px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;;
}

.tag:hover {
    background-color: #DEEBFF;
}

.site-header--filter-tag i {
    color: #0065FC;
    margin: 0;
}

.site-header--filter-link {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.site-header--info {
    margin: 50px;
    display: flex;
    gap: 10px;
}

.site-header--info-icon {
    width: 24px;
    height: 24px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.site-header--icon {
    color: #0065FC;
    font-size: 1rem;
    font-weight: 500;
}

.site-content--offers-all {
    display: flex;
    gap: 40px;
    width: 93%;
    margin: auto;
}

.site-content--offers-main {
    width: 66%;
    height: 614px;
    padding: 30px;
    border-radius: 15px;
    background: #F2F2F2;
}

.site-content--offers-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 20px 0;
}

.site-content--main-row-cards {
    display: flex;
    justify-content: space-between;
    height: 250px;
    margin-bottom: 20px;
    gap: 10px;
}

.site-content--row-card {
    width: 33%;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);

}

.site-content--row-pic {
    object-fit: cover;
    width: 95%;
    height: 50%;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0 0;
}

.site-content--row-card-info {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    gap: 8px;
    
}

.site-content--row-card-info span {
    font-size: 1rem;
    font-weight: 400;
}

.site-content--row-card-info a {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: #000000;
}

.site-content--row-card-info i {
    margin: 10px 0;
}

.fa-star::before {
    content: "\f005\f005\f005\f005\f005";
    color: #0065FC;
}

.site-content--display-more {
    font-size: 1rem;
    font-weight: 700;
}

.site-content--sponsored-main {
    width: 34%;
    height: 614px;
    border-radius: 15px;
    padding: 30px;
    background-color: #F2F2F2;
}

.site-content--sponsored-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;;
}

.site-content--sponsored-col-cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 80%;
    margin-top: 30px;;
}

.site-content--col-card {
    display: flex;
    height: 33%;
    width: 100%;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.site-content--col-pic {
    display: block;
    object-fit: cover;
    width: 34%;
    height: 93%;
    border-radius: 20px 0 0 20px;
    border: 5px solid rgba(255, 255, 255, 1);
}

.site-content--col-card-info {
    width: 55%;
    padding: 10px 5px 5px 15px;
}

.site-content--col-card-info i {
    margin-top: 35px;
}

.site-content--col-card-info h2 {
    font-size: 1rem;
    font-weight: 700;
}

.site-content--col-card-info span {
    font-size: 1rem;
    font-weight: 400;
}

.site-content--main-activity {
    width: 93%;
    margin: auto;
}

/*.site-content--activity {
    margin: 50px;
}*/

.site-content--activity-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 40px 0 20px 30px;
}

.site-content--activity-frame {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    gap:30px;
}

.site-content-card {
    width: 24%;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.site-content--activity-pic {
    height:86%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.site-content--activity-legend {
    border-radius: 0 0 20px 20px;
    padding: 20px 19px;
}

.site-content--activity-place {
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.site-footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 90%;
    padding: 20px;
    margin: 50px auto;
}

.site-footer--info {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    gap: 15px;
}

.site-footer--info h3{
    font-size:1rem;
    font-weight: 700;
    margin:0;
}

.site-footer--info a{
    font-size:1rem;
    font-weight: 400;
}

























/****** Media queries ***********/


@media screen and (min-width: 320px) and (max-width: 767.98px) {
    
    .container {
        max-width: 767.98px;
        width: 100%;
    }
    

    .site-header--top-bar {
        display: block;
    }

    .site-header--logo {
        text-align: center;
        padding: 30px 50px;
    }

    .logo {
        width: 61px;
    }

    .site-header--menu {
        justify-content: space-around;
        padding: 0;
        margin-top: 0;
        
    }

    .site-header--nav-link-one, .site-header--nav-link-two {
        padding: 10px;
    }

    .site-header--nav-link-one:hover, .site-header--nav-link-two:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #0065FC;

    }

    .site-header--headline {
        padding: 10px;
        margin: auto;
        
    }

    .site-header--search-bar {
        min-width: 285px;
        max-width: 335px;;
        width: 100%;
        margin: auto;
    }

    .site-header--fa-location {
        width: 15%;
        
    }

    .site-header--search-bar form {
        width: 70%;
    }

    #search {
        width: 100%;
    }

    .site-header--button {
        display: none;
    }

    .site-header--finder {
        width: 15%;
        border-radius: 15px;
    }

    .fa-magnifying-glass {
        visibility:visible;
        color: #FFFFFF;
    }

    .site-header--filter-bar {
        display: block;
        width: 100%;
        max-width: 335px;
        margin: auto;
    }

    .filter {
        display: block;
        margin: 20px auto;
    }

    .site-header--filter-tag {
        width: 50%;
        min-width: 300px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .site-header--filter-tag .tag {
        width: 50%;
        min-width: 140px;
        padding: 10px 0;
    }

    .site-header--info {
        margin: 20px auto;
    }

    .site-content--offers-all {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .site-content--sponsored-main {
        max-width: 335px;
        width: 100%;
        padding: 30px 0;
        margin: auto;
    }

    .site-content--sponsored-title {
        margin: 20px;
    }

    .site-content--sponsored-col-cards {
        max-width: 335px;
        width: 100%;
        margin:auto;
    }

    .site-content--col-card {
        width: 95%;
        margin: auto;
    }

   

    .site-content--offers-main {
        display: flex;
        flex-direction: column;
        max-width: 335px;
        width: 100%;
        height: 1435px;
        margin: auto;
        padding: 0;
        background-color: #FFFFFF;

        
    }

    .site-content--main-row-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 45%;
    }

    .site-content--row-card {
        padding: 0 0 15px 0;
        height: 30%;
    }

    .site-content--offers-title {
        margin: 20px;
    }

    .site-content--row-card {
        width: 100%;
    }

    .site-content--main-activity {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding: 0;

    }

    .site-content--activity {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 315px;
        margin: 35px auto;
    }

    .site-content--activity-title {
        margin: 30px 10px;
    }

    .site-content--activity-frame {
        flex-direction: column;
        margin: 0;
    }

    .site-content-card {
        width: 100%;
        height: 200px;
    }

    .site-content--activity-pic {
        height: 70%;
    }

    .site-footer {
        max-width: 375px;
        width: 100%;
        flex-direction: column;
        gap: 50px;
    }

    .site-footer--info {
        width: 70%;
        
    }
    
    

    



}




















@media screen and (min-width: 768px) and (max-width: 1023.98px) {

    .container {
        max-width: 1023.98px;
        width: 100%;
    }

    .site-header--menu {
        padding: 0 50px;
    }

    .site-header--search-bar {
        width: 50%;
    }

    .site-header--filter-bar {
        width: 100%;
        max-width: 668px;
        display: block;
        margin: 50px;
    }

    .filter {
        display: block;
        margin-bottom: 20px;;
    }

    .site-header--filter-tag {
        width: 100%;
    }

    .site-header--filter-tag .tag {
        width: 22%;
        padding: 10px 0;
    }

    .site-content--offers-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .site-content--offers-main {
        width: 90%;
        
    }

    .site-content--main-row-cards {
        font-size: 0.9rem;
    }

    .site-content--row-card-info {
        padding: 7px;
    }

    .site-content--row-card-info a {
        font-size: 0.9rem;
    }

    .site-content--row-card-info span {
        font-size: 0.9rem;
    }

    .site-content--sponsored-main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 90%;
        padding: 30px;
        height: 252px;
    }

    .site-content--sponsored-title {
        margin: 0;
    }

    .site-content--sponsored-col-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 146px;

    }

    .site-content--col-card {
        height: 100%;
    }

    .site-content--col-card-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .site-content--col-card-info h2 {
        margin: 0;
        font-size: 0.9rem;
        
    }
    
    .site-content--col-card span {
        font-size: 0.9rem;
    }

    .site-content--col-card i {
        margin: 0;
        
    }

    .site-content--activity {
        margin: 10px;
        padding: 0 30px;
    }

    .site-content--activity-title {
        margin: 30px auto;
    }

    .site-content--activity-frame {
        height: 70%;
    }

    .site-content--activity-pic {
        height: 75%;
    }

    .site-content--activity-legend {
        padding: 10px;
    }

    
    
    

      

}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    
    .container {
        max-width : 1439.98px;
        width: 100%;
    }

    .site-header--menu {
        padding: 0 50px;
    }

    .site-header--search-bar {
        width: 38%;
    }

    .site-header--filter-bar {
        width: 100%;
        max-width: 758px;
    }

    .site-header--filter-tag .tag {
        padding: 10px;
    }

    .site-content--offers-all {
        flex-direction: column;
        gap: 50px;
    }

    .site-content--offers-main {
        /*min-width: 924px;*/
        width: 93%;
        margin: auto;
    }

    .site-content--main-row-cards {
        gap: 30px;
    }

    .site-content--sponsored-main {
        min-width: 924px;
        width: 93%;
        height: 252px;
        margin: auto;
    }

    .site-content--sponsored-col-cards {
        flex-direction: row;
        height: 68%;
    }

    .site-content--col-card {
        height: 100%;
    }

    .site-content--col-card-info {
        display: block;
        width: 65%;
    }

    .site-content--activity {
        min-width: 924px;
        width: 93%;
        margin: auto;
    }
    
    .site-content--activity-title {
        margin: 30px 0;
    }

    .site-content--activity-frame {
        height: 100%;
    }

    .site-content--activity-pic {
        height: 80%;
    }

}
