.container {
    box-sizing: border-box;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    font-family: 'Raleway';
}

/* Site HEADER */

/* Site Header - TOPBAR / MENU */

.site-header {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.site-header--topbar {
    display: flex;
    justify-content: space-between;
}

.site-header--topbar-logo {
    width: 61px;
    height: 19px;
    padding: 30px 50px;
}

.site-header--topbar-menu {
    padding: 0 50px;
    margin-top: 20px;
}

.site-header--topbar-link {
    margin-left: 68px;
    padding-top: 26px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: black;
    border-top: 2px solid transparent;
}

.site-header--topbar-link:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* Site Header - SEARCH-GROUP */

.site-header--search-group {
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.site-header--search-headline {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.site-header--search-title {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Site Header - SEARCH-BAR */

.site-header--search-form {
    width: 377px;
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
}

.site-header--fa-location {
    width: 50px;
    text-align: center;
    line-height: 49px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

#search {
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    width: 195px;
    padding-left: 10px;
    text-align: center;
}

.site-header--button {
    width: 132px;
    background-color: #0065FC;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 0 15px 15px 0;
}

.site-header--magnifying-glass {
    display: none;
}

/* Site Header - FILTERS */

.site-header--filters {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Site Header - Filters-TITLE */

.site-header--filters-title {
    font-size: 1.1rem;
    font-weight: 700;
}

/* Site Header - Filters-TAGS */

.site-header--filters-all-tags {
    display: flex;
    gap: 15px;
}

.site-header--filters-tag {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 12px 19px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    color: #000000;
}

.site-header--filters-tag i {
    color: #0065FC;
}

.site-header--filters-tag:hover {
    background-color: #DEEBFF;
    transition: 0.3s;
}

.site-header--filters-tag-name {
    margin-left: 10px;
}

/* Site Section - MAIN CONTENT */

/* Site Main Content - ALL */

.site-content--all {
    width: 93%;
    margin: auto;
    display: flex;
    gap: 40px;
}

/* Site Main Content - OFFERS */

.site-content--offers {
    width: 85%;
    border-radius: 15px;
}

.offers--info {
    margin: 0 0 35px;
}

.ico-info {
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
}

.fa-info {
    color: #0065FC;
}

.text-info {
    font-size: 1rem;
    font-weight: 400;
}

/* Site Main Content - OFFERS-GROUP */

.offers--group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: #F2F2F2;
}

/* Site Main Content - OFFERS-CARDS */

.offers--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.offers--link {
    text-decoration: none;
    width: 29%;
}

.headline--title {
    font-size: 1.3rem;
    font-weight: 700;
}

.article {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.card-pic {
    height: 124px;
    width: 95%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 5px solid rgba(255, 255, 255, 1)
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 15px;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: rgba(0, 0, 0, 1)
}

.card-price {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 1)
}

.fa-star {
    margin-bottom: 15px;
}

.fa-star::before {
    content: "\f005\f005\f005\f005";
    color: #0065FC;
}

.offers--more {
    font-size: 1.1rem;
    font-weight: 700;
}

/* Site Main Content - SPONSORED */

/* Site Main Content - SPONSORED-GROUP */

.sponsored--group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    background-color: #F2F2F2;
}

/* Site Main Content - SPONSORED-TITLE */

.sponsored--headline {
    display: flex;
    justify-content: space-between;
}

.headline--title {
    margin: 0;
}

.fa-chart-line {
    display: inline-block;
    color: #0065FC;
    line-height: 26px;
}

/* Site Main Content - SPONSORED-CARDS */

.sponsored--cards {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.col-card--link {
    text-decoration: none;
}


.col-article {
    display: flex;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.col-pic {
    width: 33.33%;
    height: 146px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0 0 20px;
}

.col-card--info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 66.66%;
    padding: 10px 5px 5px 15px;
}

/* Site Main Content - ACTIVITY */

.site-content--activity {
    margin: auto;
    padding: 30px;
}

/* Site Main Content - ACTIVITY-GROUP */

.activity--group {
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
}

.activity--headline {
    width: 96%;
    margin: auto;
}

.headline--title {
    font-size: 1.3rem;
    font-weight: 700;
}

/* Site Main Content - ACTIVITY -CARDS */

.activity--cards {
    display: flex;
    gap: 30px;
    margin: auto;
}

.activity-card--link {
    width: 23%;
    text-decoration: none;
    color: #000000;
}

.activity-card {
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}

.activity-pic {
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activity-card-info {
    padding: 20px 19px;
}

.activity-card-title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.footer-content {
    width: 90%;
    margin: auto;
}

/* Site - FOOTER */

/* Site Footer - MENU */

.footer-menu {
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
}

/* Site Footer - LIST */

.footer-menu--list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33.33%;
    padding: 20px;
}

.footer-menu--title {
    font-size: 1.1rem;
    font-weight: 700;
}

.footer-menu--link {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: rgba(0, 0, 0, 1)
}

/****** Media queries ***********/




/* Desktop devices (PC, more than 1024px) */

@media screen and (min-width: 1025px) {

    /* Site Main Content - ACTIVITY -CARDS */

    .activity-card--link {
        height: 439px;
    }

    .activity-card {
        height: 100%;
    }

    .activity-pic {
        height: 86%;
        object-fit: cover;
    }

    .activity-card-info {
        padding: 10px 19px;
    }



  

}





/* Medium devices (Tablets, less than 1024px) */

@media screen and (max-width: 1024px) {

    /* Site Header - FILTERS */

    .site-header--filters {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Site Header - Filters-TAGS */

    .site-header--filters-all-tags {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }

    /* Site Main Content - ALL */

    .site-content--all {
        flex-direction: column;
        width: 100%;
    }

    /* Site Main Content - OFFERS */

    .site-content--offers {
        width: 93%;
        margin: auto;
    }

    .card-info {
        height: 4vh;
        padding: 5px;
    }

    /* Site Main Content - SPONSORED */

    .site-content--sponsored {
        width: 93%;
        margin: auto;
    }

    /* Site Main Content - ACTIVITY -CARDS */

    .activity-card--link {
        height: 270px;
    }

    .activity-pic {
        height: 10vh;
        object-fit: cover;
    }

    .activity-card-info {
        height: 3vh;
        padding: calc(5px + (20 - 4) * ((100vw - 1025px) / (1900 - 1025))) 19px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    /* Site Footer - MENU */

    .footer-menu {
        gap: 15px;
    }

    /* Site Footer - LIST */

    .footer-menu--list {
        padding: 20px 0;
    }
}

/* Small devices (phones, less than 768px) */

@media screen and (max-width: 768px) {

    /* Site Header - TOPBAR / MENU */

    .site-header--topbar {
        flex-direction: column;
        align-items: center;
    }

    .site-header--topbar-title {
        margin: 0;
    }

    .site-header--topbar-menu {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        margin: 0;
        gap: 15px;

    }

    .site-header--topbar-link {
        flex-grow: 1;
        text-align: center;
        margin: 0;
        padding-bottom: 22px;
        width: 50%;
    }

    .site-header--topbar-link:hover {
        border-top: 2px solid transparent;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
        ;
    }

    /*Site Header - SEARCH-GROUP */

    .site-header--search-group {
        width: 90vw;
        margin: auto;
    }

    .site-header--search-headline {
        margin: auto;
        width: 100%;
    }

    /* Site Header - SEARCH-BAR */

    .site-header--search-form {
        margin: auto;
        width: 100%;
    }

    .site-header--fa-location {
        width: 70px;
    }

    #search {
        width: 100%;
    }

    .site-header--button {
        display: none;
    }

    .site-header--magnifying-glass {
        display: inline-block;
        width: 62px;
        border-radius: 15px;
        border: 1px solid #0065FC;
        background-color: #0065FC;
        color: #FFFFFF;
    }

    /* Site Header - FILTERS */

    .site-header--filters {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Site Header - Filters-TAGS */

    .site-header--filters-all-tags {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 100%;
    }

    .site-header--filters-tag {
        font-size: 0.9rem;
        padding: 12px 8px;
    }

    /* Site Header - FILTERS - INFO  */

    .offers--info {
        display: flex;
        gap: 10px;
    }

    /* Site Main Content - ALL */

    .site-content--all {
        flex-direction: column-reverse;
        width: 100%;
    }

    /* Site Main Content - SPONSORED */

    .site-content--sponsored {
        width: 100%;
    }

    /* Site Main Content - SPONSORED-GROUP */

    .sponsored--group {
        padding: 30px 20px;
    }

    /* Site Main Content - OFFERS */

    .site-content--offers {
        width: 100%;
    }

    /* Site Main Content - OFFERS-GROUP */

    .offers--group {
        padding: 20px;
        background-color: #FFFFFF;
    }

    /* Site Main Content - OFFERS-CARDS */

    .offers--cards {
        flex-direction: column;
    }

    .offers--link {
        width: 100%;
    }

    .card-pic {
        width: calc(100% - 10px);
    }

    /* Site Main Content - ACTIVITY */

    .site-content--activity {
        padding: 20px;
    }

    /* Site Main Content - ACTIVITY -CARDS */

    .activity--cards {
        flex-direction: column;
    }

    .activity-card--link {
        width: 100%;
        height: 200px;
    }

    .activity-pic {
        height: 141px;
        object-fit: cover;
    }

    .activity-card-info {
        padding: 0 19px;
    }

    /* Site Footer - CONTENT */

    .footer-content {
        width: 100%;
        margin-top: 35px;
        ;
    }

    /* Site Footer - MENU */

    .footer-menu {
        flex-direction: column;
        padding: 30px;
    }

    /* Site Footer - LIST */

    .footer-menu--list {
        width: 100%;
    }
}